<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1> 이것은 테스트 페이지입니다. </h1>
    <h1> <%= data %></h1>
    <h3> <%= data1.name %></h3>


</body>

</html>


<!-- 데이터를 바로 불러오는 표현(자바스크립트를 쓸 수 있게 해주는 표현) (node.js, ejs를 사용하여야 가능한 표현)  -->

<!-- 꺽쇠 안은 """""""자바스크립트 코드"""""""로 인식한다. data는 자바스크립트 변수!  -->
<!-- 원래는 <% %> 이지만, =을 쓰는 이유는 변수의 데이터를 불러오기 때문 -->